<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a Notification for a show!</p>
    <p>
    Show details<br>
    --------------------------
    </p>
    <p>Show name: <%= @show.name %></p>
    <p>Channel name: <%= @channel.name %></p>
    <p>timing: <%= @show.timing %></p>
    <p>
    </p>
  </body>
</html>
